body{
    height: 100vh;
    margin: 0;
    background: rgba(24, 7, 7, 1);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.bigcontain{
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0px;
    justify-content: flex-start;
    
}
.side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 18%;
    background-color: white;
    height: 92vh;
}
.btncancel{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.validation{
    border: 2px solid transparent;
    background-color: rgb(45, 209, 45);
    color: white;
    height: 50px;
    width: 90%;
    font-size: 17px;
    border-radius: 10px;
}
.validationForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width: 500px;
    height: 80vh;
    text-align: center;
    position: absolute;
    border-radius: 20px;
    top: 10%;
    left: 40%;
    z-index: 10;
}
.validationForm h1{
    font-size: 25px;
}
.forms{
    width: 500px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fromremplit{
    gap: 10px;
    width: 400px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: center;
}
.fromremplit label{
    font-size: 20px;
    color: rgb(43, 41, 41);
    text-transform: uppercase;
}
.fromremplit input{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(47, 47, 47);
    outline-color: rgb(0, 168, 253);
    outline-width: 4px;
}
.fromremplit input::placeholder{
    font-size: 17px;
    color: #777;
}

.fromremplit button{
    background-color: rgb(0, 168, 253);
    color: white;
    width: 400px;
    height: 50px;
    font-size: 23px;
    border-color: transparent;
    border-radius: 10px;
}
.input-group1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
.profileimg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid rgb(223, 219, 219);
    outline-style: dashed;

}
.input-group1 input{
    width: 330px;
}
.input-group2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.input-group2 select{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(47, 47, 47);
    outline-color: rgb(0, 168, 253);
    outline-width: 4px;
}
.persolist{
    height: 90vh;
}
.container{
    display: grid;
    background-image: url('https://simplonline-v3-prod.s3.eu-west-3.amazonaws.com/media/image/jpg/plan-69159a65c5684763515973.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 38% 16% 23% 23%;
    grid-template-rows: repeat(4, 34%);
    width: 95%;
    height: 90vh;
}

/* général */
.conference , .reception, .serveurs, .securite , .personnel, .archives, .vertcolouar , .horizcolouar {
    border: 2px solid black;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 10px;
}

/* CONFÉRENCE */
.conference{
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background: rgba(255,255,255,0.2);
}

/* MUR VERTICAL */
.vertcolouar{
    grid-column: 2 / 3;    
    grid-row: 1 / 4;      
    border: 2px solid black;
    background: rgba(255,255,255,0.2);
}
.horizcolouar{
    grid-column: 3 / 5;    
    grid-row: 2 / 3;      
    border: 2px solid black;
    background: rgba(255,255,255,0.2);
}

/* RECEPTION */
.reception{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background: rgba(255,255,255,0.2);
}

/* SERVEURS */
.serveurs{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background: rgba(255,255,255,0.2);
}
.securite{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    background: rgba(255,255,255,0.2);
}
.personnel{
     grid-column: 3 / 4;
    grid-row: 3 / 4;
    background: rgba(255,255,255,0.2);
}
.archives{
     grid-column: 4 / 5;
    grid-row: 3 / 4;
    background: rgba(255,255,255,0.2);
}
.persolist{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 1%;
}

.pronalinfo , .pronalinfor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: s;
    gap: 5px;
    padding: 10px;
    line-height: 12px;
    background: white;
    border-radius: 6px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.25);
    transition: all 0.5s;
}
.pronalinfo:hover{
    transform: translateX(20px);
}
.pronalinfor:hover{
    transform: translateY(-15px);
}
.pronalinfo img , .pronalinfor img{
    border-radius: 50%;
    border: 4px solid rgb(45, 209, 45);
}
.pronalinfo h1 , .pronalinfor h1{
    font-size: 18px;
}
.pronalinfo p, .pronalinfo p{
    font-size: 15px;
}
.pronalinfor img{
    width: 60px;
    height: 60px;
}
.btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    gap: 5px;
}
.btns button{
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border-color: transparent;
    color: white;
}
.btns button:first-child{
    background-color: rgb(114, 223, 114);
    font-size: 20px;
}
.btns button:last-child{
    background-color: rgb(236, 51, 51);
    font-size: 20px;
}

.conference button, .reception button, .serveurs button, .securite button, .personnel button, .archives button, .vertcolouar button, .horizcolouar button{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border-color: transparent;
    background-color: rgb(0, 168, 253);
    color: white;
    font-size: 30px;
}
.conferencelist, .receptionlist,.serveurslist, .securitelist, .persnnallist, .archiveslist{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}