body{
    height: 100vh;
    margin: 0;
    background: rgba(24, 7, 7, 1);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 45px;
}
header h1{
    font-size: 15px;
}
.bigcontain {
    width: 100%;
    height: 82vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
}
.side {
    width: 16%;
    height: 95vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btncancel{
    position: absolute;
    background-color: white;
    top: 2%;
    width: 95%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.validation{
    border: 2px solid transparent;
    background-color: rgb(45, 209, 45);
    color: white;
    height: 50px;
    width: 90%;
    font-size: 17px;
    border-radius: 10px;
}
.validationForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    backdrop-filter: blur(12px);
    width: 450px;
    height: 80vh;
    text-align: center;
    position: absolute;
    border-radius: 20px;
    top: 10%;
    left: 30%;
    z-index: 10;
}
.forms{
    width: 450px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
    scrollbar-width: none;
    gap: 20px;
}
.cancelbtn{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    border-color: transparent;
    background-color: rgb(236, 51, 51);
    color: white;
}
.forms h1{
    text-align: center;
    font-size: 22px;
}
hr{
    color: black;
    font-size: 10px;
}
.fromremplit{
    gap: 20px;
    width: 400px;
    height: 80vh;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: flex-start;
}
.fromremplit label{
    font-size: 15px;
    color: rgb(50, 49, 49);
    text-transform: uppercase;
}
.fromremplit input{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid rgb(47, 47, 47);
    outline-color: rgb(0, 168, 253);
    outline-width: 4px;
}
.fromremplit input::placeholder{
    font-size: 14px;
    color: #777;
}

.btnsubmit button{
    background-color: rgb(0, 168, 253);
    color: white;
    width: 400px;
    height: auto;
    padding: 10px;
    font-size: 23px;
    border-color: transparent;
    border-radius: 10px;
}
.input-group1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
.input-group1 .profileimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgb(223, 219, 219);
    outline-style: dashed;
    }
.input-group1 input{
    width: 345px;
    height: 40px;
}
.input-group2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.input-group2 select{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid rgb(47, 47, 47);
    background: #f2f2f2;
    outline-color: rgb(0, 168, 253);
    outline-width: 4px;
}
.input-group3{
    width: 100%;
    text-align: center;
}
.input-group3 h1{
    font-size: 20px;
}
.exp{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-weight: 100;
    gap: 10px;
}
.addexpbtn{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.addexperience{
    width: 150px;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    border-color: transparent;
    background-color: rgb(70, 193, 255);
    color: white;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.25);
}
.container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container img {
    width: 100%;
    max-height: 92vh;
    object-fit: cover;
    transition: all 0.3s ease;
}

.container2 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 38% 16% 23% 23%;
    grid-template-rows: repeat(3, 40%);
    width: 100%;  
    height: 80vh;
}

.conference, .reception, .serveurs, .securite, .personnel, .archives, .vertcolouar, .horizcolouar {
    border: 2px solid black;
    background: rgba(255,255,255,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 7px;
}

.conference{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background: rgba(255,255,255,0.2);
}

.vertcolouar{
    grid-column: 2 / 3;    
    grid-row: 1 / 4;      
    border: 2px solid black;
    background: rgba(255,255,255,0.2);
}
.horizcolouar{
    grid-column: 3 / 5;    
    grid-row: 2 / 3;      
    border: 2px solid black;
    background: rgba(255,255,255,0.2);
}

.reception{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background: rgba(255,255,255,0.2);
}

.serveurs{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background: rgba(255,255,255,0.2);
}
.securite{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    background: rgba(255,255,255,0.2);
}
.personnel{
     grid-column: 3 / 4;
    grid-row: 3 / 4;
    background: rgba(255,255,255,0.2);
}
.archives{
     grid-column: 4 / 5;
    grid-row: 3 / 4;
    background: rgba(255,255,255,0.2);
}
.persolist{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 90%;
    height: 90vh;
    margin-top: 1%;
}

.pronalinfo , .pronalinfor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
    background: white;
    border-radius: 6px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.25);
    transition: all 0.5s;
}
.pronalinfo{
    width: 100%;
}
.pronalinfo:hover{
    transform: translateX(20px);
}
.pronalinfor:hover{
    transform: translateY(-15px);
}
.pronalinfo img{
    border-radius: 50%;
    border: 4px solid rgb(45, 209, 45);
}
.pronalinfo h1{
    font-size: 18px;
}
.pronalinfo p{
    font-size: 15px;
}
.pronalinfor img{
    width: 60px;
    height: 60px;
}
.btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    gap: 5px;
}
.btns button{
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border-color: transparent;
    color: white;
}
.btns button:first-child{
    background-color: rgb(114, 223, 114);
    font-size: 20px;
}
.btns button:last-child{
    background-color: rgb(236, 51, 51);
    font-size: 20px;
}
.conferencelist, .receptionlist ,.serveurslist,.securitelist,.persnnallist ,.archiveslist{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
}
.profile1{
    width: 60px;
    height: 60px;
}
.pronalinfo2{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    background: white;
    border-radius: 6px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.25);
    transition: all 0.5s;
}
.pronalinfo2:hover{
    transform: translateX(15px);
}
.pronalinfo2 img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid;
    border-color: rgb(45, 209, 45);
    
}
.conference button, .reception button, .serveurs button, .securite button, .personnel button, .archives button, .vertcolouar button, .horizcolouar button{
    width: 45px;
    height: 45px;
    border-radius: 10px;
    border-color: transparent;
    background-color: rgb(0, 168, 253);
    color: white;
    font-size: 30px;
}
.profiledisplay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.profiledisplay2{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    bottom: 35%;
    background-color: white;
    width: 400px;
}
.profiledisplay2 .btncancel2 {
    display: flex;
    width: 380px;
    color: white;
    font-size: 15px;
    justify-content: flex-end;
    padding: 10px;
}
.btncancel2 button, .btncancel button{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    border-color: transparent;
    background-color: rgb(236, 51, 51);
    color: white;
}
.infor{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    overflow: auto;

}
.displayimg{
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    border: 5px solid rgb(45, 209, 45);
}
.infor h1{
    padding: 10px;
    border-radius: 10px;
    background-color: #F0F0F0;
    color: #727272;
    font-weight: 100;
    font-size: 11px;
    width: auto;
    
}
.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
}
.info h1{
    font-size: 15px;
    margin: 0;
}
.infor p{
    padding: 10px;
    border-radius: 10px;
    background-color: #F0F0F0;
    color: #727272;
    font-weight: 100;
}

@media (min-width: 1024px) and (max-width: 1279px) {

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        background-color: white;
    }

    header h1 {
        font-size: 14px;
    }

    .bigcontain {
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .side {
        width: 20%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
    }

    .validation {
        width: 90%;
        height: 45px;
        font-size: 12px;
        color: white;
        background-color: rgb(45, 209, 45);
        border: none;
        border-radius: 8px;
    }

    .validationForm {
        width: 520px;
        max-height: 90vh;
        background: white;
        border-radius: 20px;
        padding-bottom: 10px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        overflow-y: auto;
        z-index: 50;
    }

    .forms {
        width: 480px;
        max-height: 80vh;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        gap: 15px;
        padding-top: 10px;
    }

    .forms h1 {
        font-size: 15px;
    }

    .fromremplit {
        width: 450px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 10px;
        text-align: left;
    }

    .fromremplit label {
        font-size: 15px;
        color: #2b2929;
        text-transform: uppercase;
    }

    .fromremplit input,
    .input-group2 select {
        width: 450px;
        height: 50px;
        border-radius: 8px;
        border: 2px solid rgb(47,47,47);
        outline-color: rgb(0, 168, 253);
    }

    .addexpbtn button {
        width: 150px;
        height: 45px;
        background: rgb(70, 193, 255);
        border: none;
        color: white;
        border-radius: 8px;
        font-size: 15px;
    }

    .btnsubmit button {
        width: 450px;
        height: 60px;
        font-size: 20px;
        background: rgb(0, 168, 253);
        border: none;
        border-radius: 8px;
        color: white;
    }

    .profileimg {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 2px solid rgb(223,219,219);
        outline-style: dashed;
    }

    .input-group1 input {
        width: 320px;
    }

    .persolist {
        width: 100%;
    }

    .pronalinfo {
        width: 100%;
        padding: 10px;
    }

    .pronalinfor {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        background: white;
        border-radius: 6px;
        box-shadow: 2px 2px 6px rgba(0,0,0,0.25);
    }

    .pronalinfo img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 3px solid rgb(45,209,45);
    }

    .pronalinfo h1 {
        font-size: 14px;
    }

    .pronalinfo p {
        font-size: 13px;
    }

    .container {
        width: 100%;
        height: 75vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .container2 {
        width: 100%;
        height: 80vh;
        display: grid;
        grid-template-columns: 38% 16% 24% 24%;
        grid-template-rows: repeat(3, 33%);
    }

    .conference,.reception,.serveurs,.securite,.personnel,.archives,.vertcolouar,.horizcolouar {
        border: 2px solid black;
        background: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 7px;
        text-align: center;
    }

    .conference button,.reception button,.serveurs button,.securite button,.personnel button,.archives button,.vertcolouar button,.horizcolouar button {
        width: 40px;
        height: 40px;
        font-size: 13px;
        background: rgb(0,168,253);
        border-radius: 6px;
        color: white;
        border: none;
    }
    .info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .info h1{
        font-size: 15px;
    }
    .pronalinfo2{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    padding: 10px;
    background: white;
    border-radius: 6px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.25);
    transition: all 0.5s;
}
.pronalinfo2:hover{
    transform: translateX(15px);
}
.pronalinfo2 img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid;
    border-color: rgb(45, 209, 45);
    
}
}
