body{
    height: 100vh;
    margin: 0;
    background: rgba(24, 7, 7, 1);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 45px;
}
header h1{
    font-size: 15px;
}
.bigcontain{
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0px;
    justify-content: flex-start;
    
}
.side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 18%;
    background-color: white;
    height: 94vh;
}
.btncancel{
    position: absolute;
    background-color: white;
    top: 2%;
    width: 95%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.validation{
    border: 2px solid transparent;
    background-color: rgb(45, 209, 45);
    color: white;
    height: 50px;
    width: 90%;
    font-size: 17px;
    border-radius: 10px;
}
.validationForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    backdrop-filter: blur(12px);
    width: 450px;
    height: 80vh;
    text-align: center;
    position: absolute;
    border-radius: 20px;
    top: 10%;
    left: 40%;
    z-index: 10;
}
.forms{
    width: 450px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
    scrollbar-width: none;
    gap: 20px;
}
.cancelbtn{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    border-color: transparent;
    background-color: rgb(236, 51, 51);
    color: white;
}
.forms h1{
    text-align: center;
    font-size: 22px;
}
hr{
    color: black;
    font-size: 10px;
}
.fromremplit{
    gap: 20px;
    width: 400px;
    height: 80vh;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: flex-start;
}
.fromremplit label{
    font-size: 15px;
    color: rgb(50, 49, 49);
    text-transform: uppercase;
}
.fromremplit input{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid rgb(47, 47, 47);
    outline-color: rgb(0, 168, 253);
    outline-width: 4px;
}
.fromremplit input::placeholder{
    font-size: 14px;
    color: #777;
}

.btnsubmit button{
    background-color: rgb(0, 168, 253);
    color: white;
    width: 400px;
    height: auto;
    padding: 10px;
    font-size: 23px;
    border-color: transparent;
    border-radius: 10px;
}
.input-group1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
.profileimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgb(223, 219, 219);
    outline-style: dashed;

}
.input-group1 input{
    width: 345px;
    height: 40px;
}
.input-group2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.input-group2 select{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid rgb(47, 47, 47);
    background: #f2f2f2;
    outline-color: rgb(0, 168, 253);
    outline-width: 4px;
}
.input-group3{
    width: 100%;
    text-align: center;
}
.input-group3 h1{
    font-size: 20px;
}
.exp{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-weight: 100;
    gap: 10px;
}
.addexpbtn{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.addexperience{
    width: 150px;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    border-color: transparent;
    background-color: rgb(70, 193, 255);
    color: white;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.25);
}
.persolist{
    height: 90vh;
}
.container{
    display: grid;
    background-image: url('https://simplonline-v3-prod.s3.eu-west-3.amazonaws.com/media/image/jpg/plan-69159a65c5684763515973.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 38% 16% 23% 23%;
    grid-template-rows: repeat(3, 34%);
    width: 100%;
    height: 92vh;
}

/* général */
.conference , .reception, .serveurs, .securite , .personnel, .archives, .vertcolouar , .horizcolouar {
    border: 2px solid black;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 10px;
}

/* CONFÉRENCE */
.conference{
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background: rgba(255,255,255,0.2);
}

/* MUR VERTICAL */
.vertcolouar{
    grid-column: 2 / 3;    
    grid-row: 1 / 4;      
    border: 2px solid black;
    background: rgba(255,255,255,0.2);
}
.horizcolouar{
    grid-column: 3 / 5;    
    grid-row: 2 / 3;      
    border: 2px solid black;
    background: rgba(255,255,255,0.2);
}

/* RECEPTION */
.reception{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background: rgba(255,255,255,0.2);
}

/* SERVEURS */
.serveurs{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background: rgba(255,255,255,0.2);
}
.securite{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    background: rgba(255,255,255,0.2);
}
.personnel{
     grid-column: 3 / 4;
    grid-row: 3 / 4;
    background: rgba(255,255,255,0.2);
}
.archives{
     grid-column: 4 / 5;
    grid-row: 3 / 4;
    background: rgba(255,255,255,0.2);
}
.persolist{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 1%;
}

.pronalinfo , .pronalinfor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: s;
    gap: 5px;
    padding: 10px;
    line-height: 12px;
    background: white;
    border-radius: 6px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.25);
    transition: all 0.5s;
}
.pronalinfo:hover{
    transform: translateX(20px);
}
.pronalinfor:hover{
    transform: translateY(-15px);
}
.pronalinfo img{
    border-radius: 50%;
    border: 4px solid rgb(45, 209, 45);
}
.pronalinfo h1{
    font-size: 18px;
}
.pronalinfo p{
    font-size: 15px;
}
.pronalinfor img{
    width: 60px;
    height: 60px;
}
.btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    gap: 5px;
}
.btns button{
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border-color: transparent;
    color: white;
}
.btns button:first-child{
    background-color: rgb(114, 223, 114);
    font-size: 20px;
}
.btns button:last-child{
    background-color: rgb(236, 51, 51);
    font-size: 20px;
}

.conference button, .reception button, .serveurs button, .securite button, .personnel button, .archives button, .vertcolouar button, .horizcolouar button{
    width: 45px;
    height: 45px;
    border-radius: 10px;
    border-color: transparent;
    background-color: rgb(0, 168, 253);
    color: white;
    font-size: 30px;
}
.conferencelist, .receptionlist,.serveurslist, .securitelist, .persnnallist, .archiveslist{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.profiledisplay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.profiledisplay2{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    bottom: 35%;
    background-color: white;
    width: 400px;
}
.profiledisplay2 .btncancel2 {
    display: flex;
    width: 380px;
    color: white;
    font-size: 15px;
    justify-content: flex-end;
    padding: 10px;
}
.btncancel2 button{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    border-color: transparent;
    background-color: rgb(236, 51, 51);
    color: white;
}
.infor{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    overflow: auto;

}
.infor img{
    width: 100px;
    height: 100px;
    border: 5px solid rgb(45, 209, 45);
    border-radius: 50%;
}
.infor h1{
    padding: 10px;
    border-radius: 10px;
    background-color: #F0F0F0;
    color: #727272;
    font-weight: 100;
    font-size: 20px;
    width: auto;
    
}
.infor p{
    padding: 10px;
    border-radius: 10px;
    background-color: #F0F0F0;
    color: #727272;
    font-weight: 100;
}
/*mobile*/
@media (min-width: 768px) and (max-width: 1023px) {
    header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    }
    header h1{
        font-size: 20px;
    }
    .side{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;
        background-color: white;
        height: 100vh;
    }
    .validation{
        border: 2px solid transparent;
        background-color: rgb(45, 209, 45);
        color: white;
        height: 50px;
        width: 90%;
        font-size: 14px;
        border-radius: 8px;
    }
    .validationForm{
    width: 400px;
    height: 90vh;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: white;
    text-align: center;
    position: absolute;
    border-radius: 20px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    overflow-y: auto;
}

.forms{
    width: 350px;
    height: 80vh;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    overflow-y: auto;
    gap: 10px;
}
.forms h1{
    font-size: 10px;
}

.fromremplit{
    width: 330px;
    max-height: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: flex-start;
    gap: 10px;
    overflow-y: auto;
}

    .fromremplit label{
        font-size: 20px;
        color: rgb(43, 41, 41);
        text-transform: uppercase;
    }
    .fromremplit input{
        width: 330px;
        height: 50px;
        border-radius: 10px;
        border: 2px solid rgb(47, 47, 47);
        outline-color: rgb(0, 168, 253);
        outline-width: 4px;
    }
    .input-group2 select{
        width: 340px;
        height: 50px;
        border-radius: 10px;
        border: 2px solid rgb(47, 47, 47);
        outline-color: rgb(0, 168, 253);
        outline-width: 4px;
    }
    .addexperience{
    width: 150px;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    border-color: transparent;
    background-color: rgb(70, 193, 255);
    color: white;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.25);
}
    .fromremplit button{
        background-color: rgb(0, 168, 253);
        color: white;
        width: 330px;
        height: 85px;
        font-size: 23px;
        border-color: transparent;
        border-radius: 10px;
    }
    .profileimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgb(223, 219, 219);
    outline-style: dashed;

    }
    .input-group1 input{
        width: 270px;
    }
    .persolist{
        width: 100%;
    }
    .pronalinfo{
        width: 100%;
    }
    .pronalinfor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    line-height: 12px;
    background: white;
    border-radius: 6px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.25);
    transition: all 0.5s;
    }
    .pronalinfo img{    
        border-radius: 50%;
        border: 4px solid rgb(45, 209, 45);
    }
    .pronalinfo h1{
        font-size: 15px;
    }
    .pronalinfo p{
        font-size: 15px;
    }
    .pronalinfor img{
        width: 35px;
        height: 35px;
    }
    .container {
        display: grid;
        background-image: url('https://simplonline-v3-prod.s3.eu-west-3.amazonaws.com/media/image/jpg/plan-69159a65c5684763515973.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        grid-template-columns: 38% 17% 23% 23%;
        grid-template-rows: 32% 38%;
        width: 100%;
        height: 100vh;
    }

    .conference , .reception, .serveurs, .securite , .personnel, .archives, .vertcolouar , .horizcolouar {
        border: 2px solid black;
        background: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 5px;
    }

    .conference button, .reception button, .serveurs button, .securite button, .personnel button, .archives button, .vertcolouar button, .horizcolouar button{
        width: 35px;
        height: 35px;
        border-radius: 5px;
        border-color: transparent;
        background-color: rgb(0, 168, 253);
        color: white;
        font-size: 20px;
    }
}
/* 
@media (min-width: 1024px) and (max-width: 1279px)
{
    header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    }
    header h1{
        font-size: 20px;
    }
    .side{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 25%;
        background-color: white;
        height: 100vh;
    }
    .validation{
        border: 2px solid transparent;
        background-color: rgb(45, 209, 45);
        color: white;
        height: 50px;
        width: 90%;
        font-size: 14px;
        border-radius: 8px;
    }
    .validationForm{
    width: 400px;
    height: 90vh;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: white;
    text-align: center;
    position: absolute;
    border-radius: 20px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    overflow-y: auto;
    }

.forms{
    width: 350px;
    height: 80vh;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    overflow-y: auto;
    gap: 10px;
}

.fromremplit{
    width: 330px;
    max-height: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: flex-start;
    gap: 10px;
    overflow-y: auto;
    }

    .fromremplit label{
        font-size: 20px;
        color: rgb(43, 41, 41);
        text-transform: uppercase;
    }
    .fromremplit input{
        width: 330px;
        height: 50px;
        border-radius: 10px;
        border: 2px solid rgb(47, 47, 47);
        outline-color: rgb(0, 168, 253);
        outline-width: 4px;
    }
    .input-group2 select{
        width: 340px;
        height: 50px;
        border-radius: 10px;
        border: 2px solid rgb(47, 47, 47);
        outline-color: rgb(0, 168, 253);
        outline-width: 4px;
    }
    .fromremplit button{
        background-color: rgb(0, 168, 253);
        color: white;
        width: 330px;
        height: 85px;
        font-size: 23px;
        border-color: transparent;
        border-radius: 10px;
    }
    .profileimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgb(223, 219, 219);
    outline-style: dashed;

    }
    .input-group1 input{
        width: 270px;
    }
    .persolist{
        width: 100%;
    }
    .pronalinfo{
        width: 100%;
    }
    .pronalinfor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    line-height: 12px;
    background: white;
    border-radius: 6px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.25);
    transition: all 0.5s;
    }
    .pronalinfo img{    
        border-radius: 50%;
        border: 4px solid rgb(45, 209, 45);
    }
    .pronalinfo h1{
        font-size: 15px;
    }
    .pronalinfo p{
        font-size: 15px;
    }
    .pronalinfor img{
        width: 35px;
        height: 35px;
    }
    .container {
        display: grid;
        background-repeat: no-repeat;
        object-fit: cover;
        grid-template-columns: 38% 17% 23% 23%;
        grid-template-rows: 34% 33%;
        max-width: 80%;
        height: 92vh;
    }

    .conference , .reception, .serveurs, .securite , .personnel, .archives, .vertcolouar , .horizcolouar {
        border: 2px solid black;
        background: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 5px;
    }

    .conference button, .reception button, .serveurs button, .securite button, .personnel button, .archives button, .vertcolouar button, .horizcolouar button{
        width: 35px;
        height: 35px;
        border-radius: 5px;
        border-color: transparent;
        background-color: rgb(0, 168, 253);
        color: white;
        font-size: 20px;
    }
} */
